@import-normalize;
@import "../../constants/theme/variables.scss";

body {
  font-family: $font-family;
  background-color: $color-blue-light;
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
main {
  margin: 15px;
}

input {
  font-size: $font-size-h1;
  outline: 0;
}
