
body {
  font: 100% sans-serif;
  margin: 15px;
  background-color: #ddd;
}

input {
  font-size: 20px;
  outline: 0;
}

.field {
  border: 1px solid #ddd;
  display: flex;
  position: relative;
}

.fieldFocused {
  border-color: #f4b05c;
}

.input {
  border: 30px;
  box-sizing: border-box;
  margin: 0;
  padding: 10px 0 10px 10px;
  width: 100%;
}

.clearButton,
.submitButton {
  background: #fff;
  background-position: center center;
  background-repeat: no-repeat;
  border: 0;
  cursor: pointer;
  font-size: 0;
  outline: 0;
  padding: 0;
  width: 25px;
}

.clearButton {
  background-image: url(./icons/clear.svg);
  background-size: 30%;
  right: 0;
  width: 40px;
}

.submitButton {
  background-color: darkgray;
  background-image: url(./icons/search.svg);
  background-size: 35%;
  border: 1px solid #ddd;
  padding: 0 20px;
  opacity: 0.8;
  width: 40px;
}

.submitButton:hover {
  opacity: 1;
}

.suggestions {
  border: 1px solid #ccc;
  background-color: #fff;
  list-style: none;
  margin: 0;
  max-height: 240px;
  overflow: auto;
  padding: 0;
  position: relative;
  top: -1px;
  user-select: none;
}

.suggestion {
  cursor: pointer;
  height: 40px;
  letter-spacing: 0.03em;
  line-height: 40px;
  padding: 0 7px 0 10px;
}

.suggestionFocused {
  background: #f4b05c;
}

.suggestion:last-child {
  border: none;
}

.buttonWrapper {
  display: flex;
  margin-top: 200px;
  padding-top: 30px;
  justify-content: space-between;
  border-top: 1px dashed;
}

.visuallyHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
}
