.clearButton {
  background-image: url(./icons/clear.svg);
  background-size: 30%;
  right: 0;
  width: 40px;
  background: #fff;
  background-position: center center;
  background-repeat: no-repeat;
  border: 0;
  cursor: pointer;
  font-size: 0;
  outline: 0;
  padding: 0;
  width: 25px;
}

.visuallyHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
}
